# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Test & coverage
.pytest_cache/
htmlcov/
coverage.xml
.coverage

# Mypy
.mypy_cache/

# OS
.DS_Store
